<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link href="../css/pref.css" rel="stylesheet">
</head>

<body>
  <div class="pref-content">
    <div>
      <label>Font Size: </label>
      <input id="f-size" type="number" min="1" name="size" value="">
    </div>
    <div>
      <label>Font Family:</label>
      <input type="" name="family" value="">
    </div>
    <div>
      <label>Font Color:</label>
      <input type="" name="color" value="">
    </div>
  </div>
  <div class="buttons">
    <button type="button" onclick="changeByPrefWindow">Save</button>
    <button type="button">Exit</button>
  </div>
</body>

</html>
